{% extends 'base.html.twig' %}

{% block title %}MSBattle{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper" style="display: flex; flex-direction: column; background-color: #0B7FC7">
    <div id="top" style="">
        <h1><a href="/">MSBattle</a> (info page)</h1>
    </div>
    <div id="content" style="display: flex; background-color: #00bb00">
        <div id="letftcolumn" style="flex-grow: 2">

            <div style="padding-left: 20px;">
                <p style="font-weight: bold">Available Games</p>

                {% for game in games %}
                    <p><a href="/?gameid={{ game.id }}">Game No. {{ game.id }}</a></p>
                {% endfor %}
            </div>



        </div>
        <div id="righttcolumn" style="flex-grow: 10">
            {% if gameid is empty %}
                <p>Statistik:</p>
                <p>Anzahl Spiele gesamt: {{ amountOfGames }}</p>
                <p>gestartete Spiele: {{ startedGames }}</p>
                <p> Spiele im Kampfmodus: {{ battlingGames }}</p>
                <p> Abgeschlossene Spiele; {{ finishedGames }}</p>
            {% endif %}
            {% if not gameid is empty %}
                {% if gameState == 'STATE_STARTED' %}
                    <h2>Game started!!!!!!</h2>
                    <p>plz set the remaining ships:</p>
                    {% for placeableShip in placeableShips %}
                        <p>id: {{ placeableShip.id }} - {{ placeableShip.type.name }} (length: {{ placeableShip.type.length }})</p>
                    {% endfor %}
                    <h2>Placements for Game No. {{ gameid }}</h2>
                    <div id="placements" style="display: flex;">
                        <div id="playerPlacements" style="flex-grow: 6;padding-left: 20px;">
                            {% for playerPlacement in playerPlacements %}
                                <p> {{ playerPlacement.id }} {{ playerPlacement.xcoord }} / {{ playerPlacement.ycoord }} -> {{ playerPlacement.orientation }} (ship: {{ playerPlacement.ship.type.name }})</p>
                            {% endfor %}

                        </div>
                    </div>
                {% endif %}
                {% if gameState == 'STATE_BATTLE' %}
                    <h2>Dieses Spiel ist im 'Battle Modus'</h2>
                   <h3>Bisherige Züge:</h3>
                    <div id="turns">
                        {% for turn in turns %}
                            <p> {{ turn.xcoord }} / {{ turn.ycoord }} - {{ turn.turnHit }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

            {% endif %}

        </div>
    </div>


</div>
{% endblock %}
